{% extends ':Back:template.html.twig' %}

{% block title %}Home{% endblock %}


{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/Back/media.css') }}">
{% endblock %}

{% block body %}
    {% include ':Back/partials:_nav.html.twig' %}
    <section class="contentWrapper container-fluid">
        <div class="list-group col-md-8">
            <h2 class="list-group-title">All Media</h2>
            {% for media in pagination %}
                <a href="{{ path('back.media.edit', {'id': media.id}) }}" class="list-group-item list-group-item-action">{{ media.name }}</a>

            {% endfor %}
        </div>
        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('build/Back/media.js') }}"></script>
{% endblock %}