{% extends ':Back:template.html.twig' %}

{% block title %}Home{% endblock %}


{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/Back/news.css') }}">
{% endblock %}

{% block body %}
    {% include ':Back/partials:_nav.html.twig' %}
    <section class="contentWrapper container-fluid">
        <div class="list-group col-md-8">
            <h2 class="list-group-title">All News</h2>
            {% for news in pagination %}
                <a href="{{ path('back.news.edit', {'id': news.id}) }}" class="list-group-item list-group-item-action">{{ news.title }}</a>

            {% endfor %}
        </div>
        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('build/Back/news.js') }}"></script>
{% endblock %}