<nav class="verticalNav">
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link active" href="{{ path('back.index') }}">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="{{ path('back.media') }}">Media</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="{{ path('back.event') }}">Event</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="{{ path('back.news') }}">News</a>
        </li>
    </ul>

    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link" href="{{ path('fos_user_security_logout') }}">
                {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
            </a>
        </li>
    </ul>
</nav>