{% extends 'template.html.twig' %}

{% block title %}Event{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/Front/event.css') }}">
{% endblock %}

{% block body %}
    {{ include(':Front/partials:_nav.html.twig') }}
    <section class="lastevent">
        <div class="lasteventWrapper col-sm-12 col-md-10 row">
            <div class="d-none d-md-block col-md-6 eventImg">

            </div>
            <div class="col-sm-12 col-md-6 eventWrapper">
                <div class="col-md-12 eventDesc"></div>
                <div class="eventList row">
                    {% for event in lastEvent %}
                        <a href="#" class="col-sm-2 col-md-2 eventItem">
                            <h1>{{ event.date|date('d') }}</h1>
                            <h5>{{ event.date|date('M') }}<primary>.</primary></h5>
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    <section class="listevent container-fluid">
        <h1 class="sectionTitle">UPCOMING EVENTS<primary>.</primary></h1>
        <div class="eventWrapper container-fluid">
            {% for event in events %}
                {% if loop.index == 6 %}
                <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                    View more ...
                </button>
                <div class="collapse" id="collapseExample">
                {% endif %}
                <div class="eventItem row">
                    <div class="eventDate col-sm-2 col-md-1">
                        <h1>{{ event.date|date('d') }}</h1>
                        <h5>{{ event.date|date('M') }}<primary>.</primary></h5>
                    </div>
                    <div class="eventDesc col-md-4">
                        <h1>{{ event.title }}</h1>
                        <p>{{ event.description|slice(0,40) }}</p>
                    </div>
                    <div class="eventAdress col-md-3">
                        <h1>City:</h1>
                        <p>{{ event.adress }}</p>
                    </div>
                    <div class="eventPrice col-md-2">
                        <h5>Ticket:</h5>
                        <h1>{{ event.price }}€</h1>
                    </div>
                    <div class="eventBuy col-md-2">
                        {% if (event.url is not null) and (event.url != "")  %}
                            <a href="{{ event.url }}">
                                <button type="button" class="btn btn-danger">Buy</button>
                            </a>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
                </div>
        </div>
    </section>
    {{ include(':Front/partials:_footer.html.twig') }}
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('build/Front/event.js') }}"></script>
{% endblock %}