{% extends 'template.html.twig' %}

{% block title %}Home{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/Front/index.css') }}">
{% endblock %}

{% block body %}
    {{ include(':Front/partials:_nav.html.twig') }}
    <section id="home" style='background: url("{{ asset('build/images/wallhaven-704146.jpg') }}");'>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet atque distinctio error eveniet facilis fuga impedit molestias nam, perferendis quam quos repellendus repudiandae sequi voluptas.
    </section>
    <section id="lastNews">
        <h1 class="sectionTitle">last News<primary>.</primary></h1>
        <div class="lastnewsWrapper container">
            {% for news in listnews %}
                <div class="col-sm-12 col-md-6">
                    <div class="lastnewsItem">
                        <div class="textWrapper">
                            <p class="category">{{ news.category.name }}</p>
                            <h6 class="title">{{ news.title }}</h6>
                            <a href="{{ path('front.news') }}">
                                <button type="button" class="btn btn-danger">view more</button>
                            </a>
                            <p class="posted">Posted: {{ news.createdAt|date('m/d/Y') }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
    <section id="lastMedia">
        <h1 class="sectionTitle">last Media<primary>.</primary></h1>
        <div class="lastmediaWrapper container">
            {% for media in listmedia %}
                <div class="col-sm-12 col-md-6">
                    <div class="lastmediaItem">
                        <iframe width="100%" height="300px" src="{{ media.url }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>

                        </iframe>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
    {{ include(':Front/partials:_footer.html.twig') }}
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('build/Front/index.js') }}"></script>
{% endblock %}